In [56]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn import tree
from sklearn import grid_search
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.tree import DecisionTreeClassifier

In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn import tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [12]:
Train = pd.read_csv('train.csv')
Test = pd.read_csv('test.csv')

In [62]:
Train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

The features and result are taken seperatly into X and y. The Id in the features is cutdown because it doesnt represent any valueble information in regards to House price.

In [48]:
X = Train.iloc[:, 1:-1].values
y = Train.iloc[:, 80].values

In [49]:
print(TrainX,Trainy)

[[60 'RL' 65.0 ... 2008 'WD' 'Normal']
 [20 'RL' 80.0 ... 2007 'WD' 'Normal']
 [60 'RL' 68.0 ... 2008 'WD' 'Normal']
 ...
 [70 'RL' 66.0 ... 2010 'WD' 'Normal']
 [20 'RL' 68.0 ... 2010 'WD' 'Normal']
 [20 'RL' 75.0 ... 2008 'WD' 'Normal']] [208500 181500 223500 ... 266500 142125 147500]

In [50]:
train_test_split = np.random.rand(len(X)) < 0.70

In [51]:
print(train_test_split)

[ True False  True ... False  True  True]

In [53]:
train_x = X[train_test_split]
train_y = y[train_test_split]
test_x = X[~train_test_split]
test_y = y[~train_test_split]

In [55]:
print(train_x)
print(train_y)
print(test_x)
print(test_y)

[[60 'RL' 65.0 ... 2008 'WD' 'Normal']
 [60 'RL' 68.0 ... 2008 'WD' 'Normal']
 [70 'RL' 60.0 ... 2006 'WD' 'Abnorml']
 ...
 [20 'RL' 85.0 ... 2010 'WD' 'Normal']
 [20 'RL' 68.0 ... 2010 'WD' 'Normal']
 [20 'RL' 75.0 ... 2008 'WD' 'Normal']]
[208500 223500 140000 ... 210000 142125 147500]
[[20 'RL' 80.0 ... 2007 'WD' 'Normal']
 [60 'RL' 84.0 ... 2008 'WD' 'Normal']
 [50 'RL' 85.0 ... 2009 'WD' 'Normal']
 ...
 [50 'RL' 70.0 ... 2007 'WD' 'Normal']
 [180 'RM' 21.0 ... 2006 'WD' 'Abnorml']
 [70 'RL' 66.0 ... 2010 'WD' 'Normal']]
[181500 250000 143000 307000 118000 129500 132000 149000  90000 159000
 139000 306000  40000 165500 309000 239686 110000 130000 101000 140000
 180000 225000 244000  91000 135750 260000  98600 185000 128950 198900
 180000 383970 259500 136000 128000  87000 150750 230000 115000 122000
 372402 190000 235000 125000  79000 162500 127500 190000 128500 215000
 211000 501837 120000 127000 148500 171500 149000 141000  98000 186000
 156000 161750 210000 107000 204900 200000 125000 192500 403000 194500
 120000 241500 140000 207500 220000  97000 130000 148000 266000 241500
 290000 205000 415298 185000 244600 179200 122000 235000 152000 239000
  89500 360000 132000 375000 260000 354000  87000  78000 214000  82000
  85000 190000 105900 140000 134000 130000 145000 190000 125000 340000
 179000 125000 119000 106500 109000  67000 108000 150000 145000 228000
 239000 142000 215000 139000 109008 181000 212000 110000 118000 199900
 204000 210000  98000 256000 263435 188700 124000 250000 187000 212000
 190000 440000 297000  89471 132500 147000 160000 172785 155000 430000
 184000 130000 226700 215000 124500 402861 315750 176000 132000 107500
  39300 178000 111250 158000 272000 129500 255500 141000 108000 185000
 139000 146000 253293 325000 143000 138000 319000 114504 141000 151000
 221000 225000 118500  75500 183200 168500 160000  93000 152000 370878
 155000 205950 135000  88000 149000 167000 110000 168000 103600 148500
 159434 173000 227875 335000 108480 312500 361919 213000 302000 254000
  52000 189000 157000 275000 143000 236500 108000 142000 236000 275500
 172500 158900 179400 100000 270000 196500 538000 395000 162000 221500
 175900 187100 139000 187500 485000 118000 135500 144500 157900 137000
 271000 155000 224000 151000 167000 139950 128000 157500 213000 240000
 187000 131500 215000 127000 189950 131500 132500 148500 248900 169000
 109500 116000 133000 132250 350000 136500 268000 165000 142953 611657
 110000 125500 255000 131000 174000 176500 145900 169990 207500 175000
 222000 320000 184900 253000 124900 270000 172000 185000 140000 199900
 139000 178400 125000 348000 337500 232000 136905 135000 187500 176000
 194000 287000 112500 118000 160000 197000 315500  97000  80000 155000
 196000 278000 139600 556581 145000 115000  84900 176485 180000 248000
 213500  81000 151400 135000 170000 138800 155900 160000 187500 252000
 170000 128000 159500 179900 129900 117000 140000 212900 112000 118000
 140000 117500 239500 102000 119000  94000 196000 144000 424870  80000
 149000 180000 174500 124000 201800 179900 230000 235128 224000 245350
 625000 171900 200500 239000 119500 262000 195000 174000 158000 219210
 144000 178000 116050 107000 200000 113000 229456  80500 115000 134000
 190000 132500 130000 224900 170000 230000 178000 171750 130000 294000
 301500 190000 151000 181000 260000 139000 137000 162000 227000 169000
 143000 180500 154000 225000 177500 290000 232000 179200 335000 119000
 206900 190000  82500 147000  55000  79000 100000 167900 135000  52500
 200000 128500 123000 228500 177000 283463 200000 171000 235000 170000
 189000 104900 156932 144152 127000 232000 105000 250000 117000 167500
 237500 235000 281213 105000 275000 125500 215000 230000 140000 122500
 182900 143750 120500 149700 197000 157900 112000  92000 266500]